extends head

append css
	link(rel='stylesheet', href='/css/docs.css')

append js
	script(src='/js/docs.js')

block content
	.jumbotron(style='background: url(/img/docs.jpg); background-position: center 20%; background-repeat: no-repeat; background-size: cover;')
		.container
			h1= title
			p View minutes, policies, and guiding papers of the STF Committee

	.container#docs
		.row
			.col-xs-12.col-sm-3.sidebar.sidebar-wrap
				h3= folderName
				ul.no-style.jumplist
					hr
					if goUp
						li#go-up: a.message(href='./') #[img(src='/img/icons/folderOpen.png')] Up One Folder
					each val in folders
						li: a(href='#{url + val}') #[img(src='/img/icons/folder.png')] #{val}

			.col-xs-12.col-sm-9
				h3 Files
				ul.no-style
					if files.length != 0
						each val in files
							li: a(href='#{loc + val}')= val
					else 
						li.message No Files Here